body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.images{
    position: relative;
    left: 60px;
    top: 3px;
}

.option{
    padding-top: 30px;
}
.but , .btn{
    margin-right: 10px;
    height: 30px;
    border: none;
    background-color: white;
    font-size: 15px;
}
.searchbar{
    width: 400px;
    height: 30px;
    position: relative;
    top: 30px;

}
.profile{
    padding-top: 30px;
    padding-right: 20px;
}
.middle{
    background-color:bisque;
    padding: 20px 50px;
    justify-content: center;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.card{
    background-color: rgb(3, 120, 30);
    color: white;
    border: 2px solid black; 
    padding: 2px; 
    margin: 5px

}

button{
    height: 50px;
    background-color: rgb(231, 182, 182);
    color: rgb(1, 3, 3);
}